h1 {color:orange;}
.name{font-style:italic;font-size: large;color: black;}
.speech{font-size: medium; color: black; font-style: italic;}
.direction{background-color:beige; color: black; font-size: large;}
.direction:hover{background-color: aquamarine; color: coral;}
.Tartuffe{color: burlywood; font-size: large;}
.Elmire{color: darkcyan; font-size: large;}
.Dorine{color:coral; font-size: large;}
.Person{color: blueviolet; font-size: large;}
.Table,th,td,tr{border: 1mm; border-color:darkseagreen ; border-style: double; color: rgb(11, 114, 117); text-align: left; padding: 1mm; margin: 1cm;}
.tr:nth-child(even){background-color:rgb(212, 123, 160)}
.name:hover{text-shadow:2px 4px 3px rgb(rgb(16, 110, 95)); color: teal;filter: pink(3px);border: double 2px black;}
ul.navbar-horizontal {list-style-type: none;margin: 20px;padding: 0;}
ul.navbar-horizontal li {float:left; background-color:aquamarine}
ul.navbar-horizontal a {color: rgb(78, 30, 30);display:block;padding:10px;margin: 10px;}
ul.navbar-horizontal a:hover { background-color:cornsilk; color:coral; }
.icon{float:left;}