h1 {color:orange;
}

.speech{font-size: medium; color: black; font-style: italic;}
.direction{background-color:beige; color: black; font-size: large;}
.direction:hover{background-color: aquamarine; color: coral;}
.Tartuffe{color: burlywood; font-size: large;}
.Elmire{color: darkcyan; font-size: large;}
.Dorine{color:coral; font-size: large;}
.Person{color: blueviolet; font-size: large;}
.Table,th,td,tr{border: 1mm;border-color:darkseagreen ; border-style: double; color: rgb(11, 114, 117); text-align: left; padding: 1mm; margin: 1cm;}